html,
body {
    height: 100%;
}


@media only screen and (max-width: 480px) {
    .col-sm-4, col-md-4{
        margin: 0px;
    }

    .content{
        margin: 0;
        padding: 0;
    }
    body {
        background: #fefcea;
        background: linear-gradient(to top, #09A4F2, #05FA78);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

}


@media only screen and (min-width: 480px) {
    body {
        background-image: url('/ss/web/img/bg-lg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}


.wrap {
    min-height: 110px;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.carousel-size {

}

#panel{
    position: relative;
    border: 1px solid #CCC;
    width: 100%;
    eight: 400px;
    margin: 0;
    padding: 5px;
    display: block;
}

#largeImage{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.smallImage{
    width: 20%;
}

.pagination-center{
    margin: 0 auto;
    text-align: center;
    bottom: 5px;
}


.pagination-center{
    margin:0 auto;
}

.main-section{
    background-color: rgba(225,225,255,0.7);
    min-height: 100%;
}

.thumbnail{
}

.nav-submit{
    margin-bottom: 20px;
}

.vcard div{
    font-weight: bold;
}

.vcard div span{
    font-weight: normal;
}

.form-site{
    background-color: rgba(225,225,255,0.71);
    padding: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.form-img img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.comments{
    padding: 20px;
    border-radius: 5px;
   /* background-color: rgba(225,225,255,0.91);/*#f5f5f5;*/
}

#commentform-comment{
    max-width: 100%;
}

.comment{
    background-color: white;
    padding: 20px;
    border: solid 1px rgba(0,0,0,0.25);
}

.comment-img{
    width: 60px;
    float: left;
    margin-right: 10px;
}

.comment-text{

}

.comment-username{
    color: #0000ca;
}

.comment-date{

}

.comment-date:before{
    content: 'Дата: ';
}

.order{
    padding-bottom: 0;
}

.order hr{
    margin: 10px 0px;
}

.order .nav-submit{
    margin-bottom: 10px;

}

.gallery-all{
    border: solid 1px rgba(225,225,225,0.4);
}

.breadcrumb{
    background-color: #222;/*rgba(255,255,255,0.7);*/
    border-radius: 0px 0px 15px 15px;
    width: 100%;
}


@media only screen and (max-width: 310px) {
.main-section .nav-submit a .btn .btn-primary{
    margin: 0 auto;
}
}

